
/* 
    Created on : Mar 21, 2017, 10:05:39 AM
    Author     : dang vo <vhdang2302@gmail.com>
*/

#main-content
{
    overflow: auto;
}

img.background-white
{
    background-color:  #fff !important;
}

.site_logo {


    background: url("images/site_logo.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    display: block;
    float:left;
    margin-left: 5px;
    margin-top: 5px ;

}

.site_logo_normal{
    width: 72px;
    height: 68px;
}

.site_logo_small {

    width: 42px;
    height: 38px;


}

#site_title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    font-size: 22px !important;
    width: 100%;
    color: #ECF0F1 !important;
    margin: 0;
    margin-left: 0 !important;
    line-height: 59px;
    display: block;


    padding-left: 10px;
}




.nav_menu{
    background-color: rgba(168,6,9, 0.85);

}


.pointer{
    cursor: pointer;
}



table.mytable
{
 border-collapse: inherit !important;

}

table.mytable thead
{
    border: none !important;
}

table.mytable > thead > tr > th,
table.mytable > tbody > tr > th
{
    background-color:  rgba(168,6,9, 0.85) !important;
    color: #F2F2F2;
    font-size: 12.5px;
    font-weight: 400;
}

/*

    BOTTOM

 */

table.mytable > thead > tr > th:last-child
{
    border-collapse: collapse;
    border-bottom: 1px solid rgba(168,6,9, 0.85)  ;
}

/* TOP  */

/*
    top-left
 */
table.mytable > thead > tr:first-child > th:first-child
{
    border-collapse: collapse;
    border: 0 !important;
    border-radius: 3px 0 0 0 ;
    -moz-border-radius: 3px 0 0 0 ;
    -webkit-border-radius:  3px 0 0 0 ;
}

/* top-right */

table.mytable > thead > tr:first-child > th:last-child
{
    border-collapse: collapse;
    border: 0 ;
    border-radius: 0 3px 0 0 ;
    -moz-border-radius: 0 3px 0 0 ;
    -webkit-border-radius: 0 3px 0 0 ;
}

table.mytable > tbody > tr:first-child > td:first-child
{
    border-top: 1px solid rgba(168,6,9, 0.85) ;

}


/*
    bottom-right corner border
 */


table.mytable > tbody > tr:last-child > td:last-child
{
    border-bottom: 1px solid rgba(168,6,9, 0.85) ;
    border-radius: 0 0  3px 0 ;
    -moz-border-radius: 0 0  3px 0 ;
    -webkit-border-radius:  0 0  3px 0 ;
}



/*
    bottom-left corner border
 */


table.mytable > tbody > tr:last-child > td:first-child
{
    border-bottom: 1px solid rgba(168,6,9, 0.85) ;
    border-radius: 0 0 0 3px  ;
    -moz-border-radius: 0 0 0 3px ;
    -webkit-border-radius:  0 0 0 3px   ;
}

table.mytable > thead > tr > td:first-child,
table.mytable > thead > tr > th:first-child,
table.mytable > tbody > tr > td:first-child,
table.mytable > tbody > tr > th:first-child
{
    border-left: 1px solid rgba(168,6,9, 0.85) ;
}

table.mytable thead > tr:first-child > td
{
    border-bottom: 1px solid rgba(168,6,9, 0.85) ;
}

table.mytable tbody > tr:first-child > td
{
    border-top: 1px solid rgba(168,6,9, 0.85) ;

}
table.mytable > thead > tr > th
{
    border-bottom: none;
}

table.mytable > tbody > tr > td
{
    border-right: none;

}


table.mytable > tbody > tr > td:last-child
{
    border-right: 1px solid rgba(168,6,9, 0.85) !important;
}

table.mytable > tbody > tr:last-child:hover td,
table.mytable > tbody > tr:last-child td {
    border-bottom: 1px solid rgba(168,6,9, 0.85) !important;
}


table.mytable thead a{
    color: #FFFFFF !important;
}

table.mytable tbody>tr>td
{
    padding:4px !important;
}



table.mytable tbody tr{
    font-size: 12.5px;
}

table.mytable tbody tr:hover td {
    /*background: rgba(168,6,9, 0.20) !important;*/
    background-color: rgba(244, 243, 243, 0.4);

}
table.mytable tbody tr.selected {
    background: rgba(38, 185, 154, 0.16)
}
table.mytable tbody tr.selected td {
    border-top: 1px solid rgba(38, 185, 154, 0.4);
    border-bottom: 1px solid rgba(38, 185, 154, 0.4)
}

table.mytable thead tr th a, .tbl-header thead tr th {
    color: #D8D6D6;
}

table.mytable tbody > tr:nth-of-type(odd){
    background-color: #EDEDED;
}

/*
    .breadcrumb
 */

.breadcrumb
{
    padding: 5px;
    margin-bottom: 5px;

}

/*
 Modal dialog
 */

.modal
{

}



.table-bordered{
    border:  none;
}

/*
 top-left corner
 */

table.mytable > tbody > tr:first-child > th:first-child{
    border-top: 1px solid rgba(168,6,9, 0.85) ;
    border-radius: 3px 0 0 0 ;
    -moz-border-radius: 3px 0 0 0 ;
    -webkit-border-radius:  3px 0 0  0 ;
}

/*
    top-right
 */

.modal-body  table.mytable > tbody > tr:first-child > td:last-child:hover
{
    border-top: 1px solid rgba(168,6,9, 0.85) ;
}
.modal-body  table.mytable > tbody > tr:first-child > td:last-child
{

    border-radius: 0 3px 0 0 ;
    -moz-border-radius: 0 3px 0 0 ;
    -webkit-border-radius:  0 3px 0 0 ;
}

/*
    bottom-right corner border
 */

table.mytable > tbody > tr:last-child > th:first-child
{

    border-bottom: 1px solid rgba(168,6,9, 0.85) ;
    border-radius: 0 0 0 3px ;
    -moz-border-radius: 0 0 0 3px ;
    -webkit-border-radius:  0 0 0 3px ;
}


/*
    bottom-left corner border
 */

table.mytable > tbody > tr:last-child > th:first-child
{
    border-bottom: 1px solid rgba(168,6,9, 0.85) ;
    border-radius: 0 0 0 3px ;
    -moz-border-radius: 0 0 0 3px ;
    -webkit-border-radius:  0 0 0 3px ;
}


/* END MODAL

 */


.nav.side-menu>li.active>a {
    background: rgba(168,6,8,0.85) !important;
    color: #ffffff !important;
}


.navbar-nav .open .dropdown-menu
{
    background: rgba(168,6,8,1) !important;
}


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
{
    background-color: rgba(243, 140, 140, 0.2);

}

.navbar-nav .open .dropdown-menu.msg_list{
    -webkit-box-shadow: 1px 1px 22px 3px rgba(171,168,171,1);
    -moz-box-shadow: 1px 1px 22px 3px rgba(171,168,171,1);
    box-shadow: 1px 1px 22px 3px rgba(171,168,171,1);
}

.navbar-brand, .navbar-nav>li>a{
    line-height: normal;
}

.nav_menu{

    height:42px;
    margin-top: 0;


}


.top_nav .dropdown-menu li a{
    color:#7f8c8d !important;
}

.navbar-nav .open .dropdown-menu li{
    border-bottom: 1px solid #7f8c8d;

    color: #ffffff;
}
.navbar-nav .open .dropdown-menu li>a
{
    color: #ffffff !important;
}

.top_nav .nav>li>a:focus,
.top_nav .nav>li>a:hover,
.top_nav .nav .open>a,
.top_nav .nav .open>a:focus,
.top_nav .nav .open>a:hover{
    color: #ffffff !important;
    height: 39px;

    background: rgba(168,6,8,1);

}


.nav_menu, .top_nav .nav>li>a:focus, .top_nav .nav>li>a{
    color: #F2F2F2 !important;
    margin: 0px;
    cursor: pointer;
    padding-top: 2px;

}

.toggle{
    padding-top: 5px;

}

.nav_menu .toggle {
    height: inherit !important;
}

.toggle a i:hover{
    color: #a61717;
}

#site_name:hover{
    color: #EE2D03;
}

.nav.side-menu>li.current-page,
.nav.side-menu>li.active,
.nav-sm .nav.child_menu li.active,
.nav-sm .nav.side-menu li.active-sm

{
    border-right: 5px solid rgba(168,6,9, 0.85) ;

}

.nav-sm .nav.side-menu>li.current-parent
{
    background: rgba(168,6,8,0.85);
}

.nav-sm .nav.side-menu>li.current-parent>a
{
    color: #fff;
}

.nav-sm .nav.child_menu > li.current-page
{
    border-right: none;
}
.nav.side-menu>li.current-page>a, .nav.side-menu>li.active>a{
    color: #EE2D03;
}

#menu_toggle{
    color: #F2F2F2 !important;
}

.fa-female{
    color: #06B000 !important;
}

.fa-male{
    color: #FF0000 !important;
}

.modal-header {
    padding: 5px !important;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 3px;
    height: 36px;
    background: rgba(168,6,9, 1);
    color:#fff;
}

.modal-header .close
{
    opacity: 1;
    color: #fff;
    font-size: 24px;
}

.modal-header .close:hover
{
    color: #2b542c;
}

.modal-header>h2, .modal-title{
    padding: 0;
    color: #F2F2F2;
    margin-top: 2px !important;
    font-size: 18px !important;
    font-weight: 400;
}

.modal-header .close{
    margin-top: 0;

}

.btn-danger{
    background-color: #FF0000;
    color: #ffffff;
}

#loading{
    display: block;

    position: absolute;
    top: 22%;
    left: 50%;
    z-index: 100000;

    text-align: center;
    -webkit-box-shadow: 1px 1px 22px 3px rgba(171,168,171,1);
    -moz-box-shadow: 1px 1px 22px 3px rgba(171,168,171,1);
    box-shadow: 1px 1px 22px 3px rgba(171,168,171,1);

}
#loading #imgLoading>img{
    width: 48px;
    height: 48px;
}
#loading #imgLoading{
    margin:auto;
}

#loading .panel-title{
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
}

#splash img{
    width: 48px;
    height: 48px;

}

.panel-primary > .panel-heading{
    background-color: rgba(168,6,9, 0.85)  ;
    border-color: rgba(168,6,9, 0.85)  ;
}

.panel-primary{
    border-color: rgba(168,6,9, 0.85) ;
}
.fa-sm{
    font-size: 14px;
}

.fa-md{
    font-size: 18px;
}
.fa-bg{
    font-size: 22px;
}

.icon-grey{
    color: grey !important;
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
}

.pagination > .active > a, .pagination > .active > a:hover{

    border: 1px solid #ddd;
    border-top-color: #f63c3f;
    border-bottom-color: #f63c3f;
    background: rgba(188,6,9,1);
    background: -moz-linear-gradient(top, rgba(188,6,9,1) 0%, rgba(242,63,39,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(188,6,9,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(188,6,9,1)), color-stop(50%, rgba(242,63,39,1)), color-stop(51%, rgba(246,41,12,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(188,6,9,1)));
    background: -webkit-linear-gradient(top, rgba(188,6,9,1) 0%, rgba(242,63,39,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(188,6,9,1) 100%);
    background: -o-linear-gradient(top, rgba(188,6,9,1) 0%, rgba(242,63,39,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(188,6,9,1) 100%);
    background: -ms-linear-gradient(top, rgba(188,6,9,1) 0%, rgba(242,63,39,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(188,6,9,1) 100%);
    background: linear-gradient(to bottom, rgba(188,6,9,1) 0%, rgba(242,63,39,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(188,6,9,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc0609', endColorstr='#bc0609', GradientType=0 );

}
.pagination{
    position: absolute;
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 10px;
    display: inline-block;
    -webkit-box-shadow: 1px 1px 12px 3px rgba(171,168,171,1);
    -moz-box-shadow: 1px 1px 12px 3px rgba(171,168,171,1);
    box-shadow: 1px 1px 12px 3px rgba(171,168,171,1);
}


.pagination span.fa{
    display: inline-block !important;
}

.pagination > li > a{
    border: 1px solid #E7E7E7;
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
}

.pagination > li > a:hover{
    color: #EE2D03;
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(240,232,240,1) 43%, rgba(209,209,209,1) 62%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(43%, rgba(240,232,240,1)), color-stop(62%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(240,232,240,1) 43%, rgba(209,209,209,1) 62%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(240,232,240,1) 43%, rgba(209,209,209,1) 62%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(240,232,240,1) 43%, rgba(209,209,209,1) 62%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(240,232,240,1) 43%, rgba(209,209,209,1) 62%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );

}

.per-page{
    position: relative;
    margin-left: 5px !important;
    margin-bottom: 10px !important;
    height: 32px;


    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );

    -webkit-box-shadow: 1px 1px 5px 3px rgba(171,168,171,1);
    -moz-box-shadow: 1px 1px 5px 3px rgba(171,168,171,1);
    box-shadow: 1px 1px 5px 3px rgba(171,168,171,1);
}

.btn-primary{
    border-color: #CA6B6C ;
    background-color: #A90E10;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus{
    border-color: #CA6B6C ;
    background-color: rgba(216,11,15,1);
}



.nav-sm ul.nav.child_menu
{
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background-color: rgba(255, 255, 255, 0) !important;
    border-color: transparent !important;
    width: 290px;
}

.nav-sm ul.nav.child_menu li
{
    padding: 0;
    width: auto;
    height: auto;
    display: inline;
    float: left;
}

.nav-sm ul.nav.child_menu li a{


    font-weight: 800;
    width: 70px;
    height: 70px;

    font-size: 11px;

    text-align: center !important;
    padding: 5px;
    border-right: 1px solid rgba(103, 83, 83, 0.85);
    border-bottom: 1px solid rgba(103, 83, 83, 0.85);
    background-color: rgba(168,6,9, 1);
}

.nav-sm ul.nav.child_menu li a:hover
{
    background-color: rgb(193, 9, 13)
}

.form-control{
    border-radius:  0px;
}

hr.nospace{
    margin-top: 0;
    margin-bottom: 0;
}
hr.space5{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*  Span spaces
 */

span.span5
{
    display: inline-block;
    width: 5px;
}

span.span10
{
    display: inline-block;
    width: 10px;
}

span.span15
{
    display: inline-block;
    width: 15px;
}

span.span20
{
    display: inline-block;
    width: 20px;
}

span.span25
{
    display: inline-block;
    width: 25px;
}

.bg-primary{
    border-color: #f63c3f ;
   background-color: #991B1F;
}

label.active{
    border-color: #f63c3f !important;
    background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%) !important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(50%, rgba(241,111,92,1)), color-stop(51%, rgba(246,41,12,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1))) !important;
    background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%) !important;
    background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%) !important;
    background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%)  !important;
    background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 ) !important;
}


.required label:after {
    content: " *";
    color:  #991B1F;
}



.no-asterisk:after{
     content:normal !important;
}

.genderLabel{
    width: 70px;
}



.has-error input[type="text"], .has-error input[type="password"]{
    color: #292925;
    border: 1px solid  #991B1F;


}
.has-error label.btn{
    color: #282925;
    border: 1px solid  #991B1F;


}

.has-success   label.active{
    color: #fff0f0 !important;

}

.btn-success {
    background: rgba(10,148,123,0.85);

}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background: rgba(10,148,123,1);

}

.btn {
    border-radius: 2px !important;
    font-size: inherit;
}
.form-control {
    border-radius: 2px !important;
}

.modalBackground
{
   /* filter: alpha(opacity=93);
    opacity: 0.93;*/
}


.nav-sm .container.body .col-md-3.left_col
{
    z-index: 999;
}

.panel-fullscreen

{
    display: block !important;
    z-index: 1000 ;
    position: absolute !important;
    width: 100% !important;
    height: 120% !important;

    top: 0 !important;
    left: 0 !important;
    overflow: auto !important;
    margin: 0 !important;
    padding: 0 !important;

}
/*

.panel-fullscreen .modal-dialog
{
    z-index: 9999 ;

    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.panel-fullscreen .modal-content
{
    min-height: 100%;
    height: auto;
    border-radius: 0;
}
*/


.panel-fullscreen .x_panel{
    min-height: 100% !important;
}

.panel-actions {
    margin-top: -20px;
    margin-bottom: 0;
    text-align: right;
}
.panel-actions a {
    color:#333;
}

.panel_toolbox>li
{
    margin-left: 3px;


}

.panel_toolbox
{
    display: inline-block;
    background-color: #dedede;
    padding: 5px;
    margin: 0px;
    margin-top: -5px;
    margin-right: -5px;
    padding-left: 10px;

    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border: none;
}


.panel_toolbox .expand-link
{
    background-color:  rgba(26, 187, 156, 0.75);
}

.panel_toolbox .expand-link:hover
{
    background-color:  rgba(26, 187, 156, 1);
}

.panel_toolbox .collapse-link
{
    background-color: rgba(212, 148, 0, 0.75);
}

.panel_toolbox .collapse-link:hover
{
    background-color: rgba(212, 148, 0, 1);
}

.panel_toolbox .close-link
{
    background-color: rgba(168,6,9,0.85);
}

.panel_toolbox .close-link:hover
{
    background-color: rgba(216,11,15,1);
}

.panel_toolbox>li>a
{
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(168,6,9,0.85);
    /*border: 1px solid #ededed;*/

    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;

}

.panel_toolbox>li>a:hover
{
    color: #2b542c;

}

/*
    x-panel
 */

.x_panel
{
    padding: 5px;

    border: 1px solid rgba(119, 114, 114, 0.55);

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    -webkit-box-shadow: 6px 1px 19px 1px rgba(199,195,199,1);
    -moz-box-shadow: 6px 1px 19px 1px rgba(199,195,199,1);
    box-shadow: 6px 1px 19px 1px rgba(199,195,199,1);

}

.x_title
{
    border-bottom: 1px solid rgba(168,6,9,0.85);
    padding: 0;
    margin-bottom: 0;
}

.ui-pnotify
{
    z-index: 1000000 !important;

}


/*
!*
 Select2
 *!
*/




.select2-container--bootstrap {
    margin-left: 5px;
    margin-right: 10px;
    border-color: rgba(168,6,9, 0.85) ;

}

.select2-container--krajee li.select2-results__option:hover
{
    color: #ffffff;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected],
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected]:hover
{
    background-color: rgba(168,6,9, 1) !important;

    color: #fff;
}

.select2-selection__clear{
    margin-left: 0 !important;
    margin-right: 5px !important;
    padding: 0;
}

 .select2-selection__clear
{
    font-size: 18px;
    top: -4px;
}


.select2-container--bootstrap.select2-container--open.select2-container--below .select2-selection {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-color: transparent;
}

.select2-container--bootstrap.select2-container--focus
.select2-selection, .select2-container--bootstrap.select2-container--open
.select2-selection {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-color: rgba(168,6,9, 0.85) ;
}
.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection,
.select2-container--bootstrap .select2-dropdown,
.select2-container--open .select2-dropdown--below,
.select2-container--krajee.select2-container--open  .select2-selection,
.select2-container--krajee .select2-selection:focus
{
    border-color: rgba(168,6,9, 0.85) !important;
}


.select2-container--bootstrap .select2-selection--single {
    height: 34px;
    line-height: 1.428571429;
    padding: 6px 24px 6px 12px;
}


.select2-container--bootstrap .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #fff;
    border: 1px solid rgba(168,6,9, 0.85) ;
    color: #555555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    outline: 0;

    border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
}


::-webkit-input-placeholder, .select2-selection__placeholder { /*!* Chrome/Opera/Safari *!*/
    font-size: 11px;
    color: darkgray;
    font-style: italic;
}
::-moz-placeholder, .select2-selection__placeholder { /*!* Firefox 19+ *!*/
    font-size: 11px;
    color: darkgray;
    font-style: italic;
}
:-ms-input-placeholder , .select2-selection__placeholder{ /*!* IE 10+ *!*/
    font-size: 11px;
    color: darkgray;
    font-style: italic;
}
:-moz-placeholder , .select2-selection__placeholder{ /*!* Firefox 18- *!*/
    font-size: 11px;
    color: darkgray;
    font-style: italic;
}


/*
.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 1000;
}
.modal-content {
    height: 100%;
    min-height: 100%;
    height: auto;
    border-radius: 0;
}
*/





.nav-sm li.current-page
{
    background-color: rgba(243, 140, 140, 0.2);

}

a.btn-primary>span, a.btn-primary, .btn-success>span
{
    color: #ffffff;
    font-weight: 400;
}


.select2-container--bootstrap .select2-selection--multiple .select2-selection__clear
{
    margin-top: 2px !important;
}

.icon-adult-32
{
    display: inline-block;
    width: 22px;
    height:32px;
    background-image: url("images/adult32.png");
}

.icon-children-32
{
    display: inline-block;
    width: 32px;
    height:28px;
    background-image: url("images/children32.png");
}

.icon-infant-32
{
    display: inline-block;
    width: 32px;
    height:32px;
    background-image: url("images/infant32.png");
}


.icon-adult-16
{
    display: inline-block;
    width: 16px;
    height:16px;
    background-image: url("images/adult32.png");
}

.icon-children-16
{
    display: inline-block;
    width: 16px;
    height:16px;
    background-image: url("images/children32.png");
}

.icon-infant-16
{
    display: inline-block;
    width: 16px;
    height:16px;
    background-image: url("images/infant32.png");
}

/*
    Table
*/


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
    vertical-align: inherit;
    padding: 4px !important;
}

/* END Table*/

.label-group
{
    display: inline-block;
    float: left;
    margin-left: 20px;
    line-height: 1.4;
}

.label-group-first-item
{
    margin-left: 10px;
}

.details .row
{
    margin: 0;
}

.details .control-label
{
    vertical-align: inherit;
}

.table td span
{
    line-height: inherit;
}


.kv-expand-header-cell, .kv-expand-icon-cell
{
    font-size: 1.1em !important;
}


ul.bar_tabs>li.active a, ul.bar_tabs>li.active a:hover
{
    color: rgba(168,6,9, 0.85);
    font-weight: 400;
}

.kv-expand-icon-cell.kv-state-disabled, .kv-expand-icon-cell.kv-state-disabled:hover, .kv-expand-header-cell.kv-state-disabled, .kv-expand-header-cell.kv-state-disabled:hover {
    cursor: not-allowed;
    color: inherit !important;
    text-shadow: none !important;
    opacity: 1 !important;
}
